<h1>New Employee</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= simple_form_for @employee do |f| %>
      <%= f.error_notification %>
      <tr>
        <td><%= f.input :id %></td>
        <td><%= f.input :name %></td>
        <td><%= f.input :phoneNumber %></td>
        <td><%= f.input :email, input_html: { autocomplete: 'email' } %></td>
        <td><%= f.input :dob %></td>
        <%# <%= f.input :emp_image, as: :file, input_html: { accept: Employee::emp_image } %>

        <%= f.button :submit, class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# <%= render 'form', employee: @employee %>

<%= link_to 'Back', employees_path %>
